.sender-page .authoring-container {
    width: 100%;
    background-image: url('img/main-bg.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.authoring-content {
    padding: 30px;
}

.authoring-header {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    position: relative;
    z-index: 1990;
}

.authoring-header a {
    display: inline-block;
}

.authoring-header img {
    max-height: 20px;
    border:0 none transparent;
}

.sender--content {
    padding: 30px 40px;
    background-color: rgba(255,255,255,.9);
    display: block;
    position: relative;
    z-index: 1;
}


/* Title */
.sender--title {
    margin: 0;
    font-weight: 600;
    font-size:28px;
}
.sender--title small {
    font-weight: 300;
    font-size:24px;
    font-size: inherit;
    color: inherit;
}
.mail-list{
    max-height: 200px;
}
.email-hover {
    cursor: pointer;
    cursor: hand;
}
